.calendar__body {
  display: grid;
}

@media (min-width: 1024px) {
  .calendar__body {
    grid-template-columns: auto 1fr;
  }
}

.calendar__body .calendar__body--days {
  display: grid;
}

@media (min-width: 1024px) {
  .calendar__body .calendar__body--days {
    border-left: 1px solid #ddd;
  }
}

.calendar__body .calendar__body--days-single-day {
  font-weight: bold;
  text-align: center;
}

.calendar__body .calendar__body--days-single-day:last-of-type {
  border-right: 0;
}

.calendar__body .calendar__body--days-single-day > div {
  display: grid;
  border-right: 1px solid #ddd;
}

.calendar__body .calendar__body--days-single-day > div > div {
  padding: 20px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.25s ease-out;
}
.calendar__body .calendar__body--days-single-day > div > div:not(.last-el) {
  border-bottom: 1px solid #ddd;
}

.calendar__body
  .calendar__body--days-single-day
  > div
  > div.present-activity:hover {
  background-color: #c7ccdb;
  color: #fff;
}

.calendar__body
  .calendar__body--days-single-day
  > div
  > div:not(.present-activity):hover {
  background-color: #ce4257;
  cursor: not-allowed;
}

@media (min-width: 1024px) {
  .calendar__body .calendar__body--days {
    grid-template-columns: repeat(7, 1fr);
  }
}
